<!-- footer section -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Liên hệ
                    </h4>
                    <div class="contact_link_box">
                        <a href="https://maps.app.goo.gl/f1Xdopjxphcy4WVT7" target="_blank">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Địa chỉ
                            </span>
                        </a>
                        <a href="/contact">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +84 816 161 266
                            </span>
                        </a>
                        <a href="/contact">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                store@daugoipurador.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="/" class="footer-logo">
                        <img width="160" src="images/logo.png" alt="#" />
                    </a>
                    <p>
                        Pura D’or là thương hiệu chăm sóc cá nhân cao cấp có nguồn gốc từ thiên nhiên đến từ Mỹ, được
                        thành lập từ năm 2011. Pura D’or nổi tiếng với các sản phẩm chăm sóc tóc bán chạy hàng đầu nước
                        Mỹ.
                    </p>
                    <div class="footer_social">
                        <a href="https://www.facebook.com/FCommerce2016" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="/coming_soon" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="/coming_soon" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="/coming_soon" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="/coming_soon" target="_blank">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <div class="col-lg-7 mx-auto px-0">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="/">Pura D'or</a><br>

                    Distributed By <a href="/" target="_blank">Fcommerce</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer section -->