<!-- footer start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="full">
                    <div class="logo_footer">
                        <a href="#"><img width="170"
                                src="https://purador.com/cdn/shop/files/purador_black_with_green_leaf_-_ppp.png?v=1670445960&width=500"
                                alt="#" /></a>
                    </div>
                    <div class="information_f">
                        <p><strong>ADDRESS:</strong>
                            Tầng 2, Tòa nhà Dolphin Plaza, <br> 28 P. Trần Bình, Mỹ Đình, Nam Từ Liêm, HN.</p>
                        <p><strong>HOTLINE:</strong> +84 816 161 266</p>
                        <p><strong>EMAIL:</strong> store@daugoipurador.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-7" style="margin-top: 10px ;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget_menu">
                                    <h3>Menu</h3>
                                    <ul>
                                        <li><a href="/">Trang chủ</a></li>
                                        <li><a href="/shop">Sản phẩm</a></li>
                                        <li><a href="/allBlog">Blog</a></li>
                                        <li><a href="/about">Về Pura D'or</a></li>
                                        <li><a href="/contact">Liên hệ</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="widget_menu">
                                    <h3>Chính sách</h3>
                                    <ul>
                                        <li><a href="/chinhsachbaomat">Chính sách bảo mật</a></li>
                                        <li><a href="/chinhsachvanchuyen">Chính sách vận chuyển</a></li>
                                        <li><a href="/chinhsachdoitra">Chính sách đổi trả</a></li>
                                        <li><a href="/chinhsachhoantien">Chính sách hoàn tiền</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" style="margin-top: 10px ;">
                        <div class="widget_menu">
                            <h3>Tin tức</h3>
                            <div class="information_f">
                                <p>Đăng ký để cập nhật thông tin <br> mới nhất</p>
                            </div>
                            <div class="form_sub">
                                <form>
                                    <fieldset>
                                        <div class="field">
                                            <input type="email" placeholder="Email" name="email" />
                                            <input style="background-color: #274938;" type="submit" value="Đăng ký" />
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
<div class="cpy_">
    <p class="mx-auto">© 2024 All Rights Reserved By <a href="/">Pura D'or</a><br>

        Distributed By <a href="/" target="_blank">Fcommerce</a>

    </p>
</div>