<%- include("./layouts/head.ejs", {title: "Về Pura D'or" }) %>
   <%- include("./layouts/header.ejs") %>

      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Về Pura D'or</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- why section -->
      <section class="why_section layout_padding">
         <div class="container">


            <!-- Contact Us -->

            <div class="row" style="margin-top: 30px;">

               <div class="col-lg-6 contact_col">
                  <div class="contact_contents">
                     <img style="width: 560px; height: 700;" src="images/about_img.png" alt="">
                  </div>



               </div>

               <div class="col-lg-6 get_in_touch_col">
                  <div class="about_purador">
                     <h3>PURE . PROVEN . POWERFUL</h3>
                     <h1>PURA D'OR</h1>
                     <p>
                        <span>Pura D’or là thương hiệu chăm sóc cá nhân cao cấp đến từ Mỹ ra đời năm 2011 với tầm nhìn
                           thay đổi cuộc sống của mọi người thông qua việc tạo ra các sản phẩm hữu cơ, tự nhiên, có
                           nguồn gốc hữu cơ, tự nhiên từ thực vật, tối giản, tinh khiết và bền vững.</span> <br>

                        <span>Tất cả các sản phẩm của PURA D’OR đều
                           được tạo ra với 3 giá trị
                           cốt lõi: Sự thuần khiết
                           trong từng sản phẩm (Purity), sự bền vững với trái đất (Peace) và hiệu quả vượt trội chứng
                           minh đến từng khách hàng (Proven).
                        </span> <br>

                        <span>Đội ngũ của Pura D’or đã đặt chân đến rất nhiều mảnh đất - từ những khu rừng rậm rạp nhất
                           của Amazon, đến những đỉnh núi cao nhất của dãy Himalaya, hay vùng biển huyền bí của đảo
                           Jeju, để tìm nguồn nguyên liệu thuần khiết nhất. Mọi thành phần đều được kiểm tra độ tinh
                           khiết và được chứng nhận là tự nhiên hay organic ngay khi có thể. Tất cả nguồn nước sử dụng
                           trong quy trình sản xuất đều được lọc qua 7 bước thẩm thấu và chưng cất để loại bỏ tất cả các
                           tạp chất để tạo ra các sản phẩm với 3 giá trị cốt lõi: Sự thuần khiết trong từng sản phẩm
                           (Purity), sự bền vững với trái đất (Peace) và hiệu quả vượt trội chứng minh đến từng khách
                           hàng (Proven).
                        </span> <br>
                     </p>

                     <a href="/shop">THAM KHẢO CÁC SẢN PHẨM CỦA PURA D'OR</a>
                  </div>
               </div>

            </div>
         </div>

         </div>
      </section>
      <!-- end why section -->
      <!-- subscribe section -->
      <section class="subscribe_section">
         <div class="container-fuild">
            <div class="box">
               <div class="row">
                  <div class="col-md-6 offset-md-3">
                     <div class="subscribe_form ">
                        <div class="heading_container heading_center">
                           <h3>Đăng ký để nhận ưu đãi giảm giá sớm nhất</h3>
                        </div>
                        <p style="color: #284938;">Quà tặng trao tay, thay lời muốn nói</p>
                        <form action="">
                           <input type="email" placeholder="nhập email của bạn">
                           <button>
                              đăng ký
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end subscribe section -->

      <div class="container">
         <div class="row" style="margin-top: 70px; margin-bottom: 70px;">
            <div class="col-lg-4 about_purador">
               <h3>NATURAL BEAUTY</h3>
               <h1>FCommerce</h1>
               <span>Với niềm đam mê về làm đẹp và sức khỏe, FCommerce đã và đang định hình lại cách chúng ta quan tâm
                  đến bản thân, đồng thời mang đến cho bạn sự lựa chọn hoàn hảo cho việc chăm sóc sức khỏe và làm đẹp
                  của mình.</span> <br>

               <span>Sứ mệnh của FCommerce là mang đến cho mọi người cơ hội trải nghiệm những sản phẩm chăm sóc cá nhân
                  hàng đầu từ Mỹ. Chúng tôi cam kết cung cấp những sản phẩm an toàn, hữu ích và thúc đẩy sự tự tin, giúp
                  bạn tỏa sáng với vẻ đẹp tự nhiên và phong cách sống lành mạnh. Với tiêu chí đó, chúng tôi đã lựa chọn
                  Pura D'or là sản phẩm được giới thiệu tới khách hàng.</span> <br>

               <span style="padding-bottom: 30px;">Không chỉ đơn thuần là một công ty phân phối sản phẩm, FCommerce mong
                  muốn là một người bạn đồng
                  hành trong hành trình làm đẹp của bạn!</span> <br>
            </div>

            <div class="col-lg-4 about_purador">
               <img src="images/fcommerce.png" alt="">
            </div>

            <div class="col-lg-4 about_purador">
               <h3>CARE FROM THE HEART</h3>
               <h4>Thấu hiểu và Tận Tâm</h4>
               <span>Chúng tôi tin rằng làm đẹp không chỉ là về việc nâng cao vẻ ngoại hình mà còn là về việc tạo ra sự
                  cân bằng và tự tin từ bên trong. Chúng tôi thấu hiểu rằng sự tự tin bắt nguồn từ việc chăm sóc tốt cho
                  cơ thể và tinh thần của bạn.</span>
               <h4>Đồng hành và Chia sẻ</h4>
               <span>Chúng tôi mong muốn trở thành một đối tác đáng tin cậy trong cuộc hành trình làm đẹp và chăm sóc
                  sức khỏe của bạn. Chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng cao, an toàn và hiệu
                  quả nhất, để bạn có thể tự tin bước vào mỗi ngày với vẻ đẹp tự nhiên và sức khỏe toàn diện.</span>
            </div>
         </div>
      </div>

      <%- include("./layouts/2nd_footer.ejs") %>
         <%- include("./layouts/js.ejs") %>