<%- include("./layouts/head.ejs", {title: "Chính sách vận chuyển" }) %>
    <%- include("./layouts/header.ejs") %>

        <!-- inner page section -->
        <section class="inner_page_head">
            <div class="container_fuild">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <h3>Chính sách vận chuyển</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end inner page section -->

        <!-- Content -->
        <section class="product_section layout_padding">
            <div class="container">
                <h3 style="padding-bottom: 20px;">CHÍNH SÁCH VẬN CHUYỂN</h3>
                <p>Các đơn hàng phát sinh trên website <b>daugoipurador.com</b> sẽ được giao trên phạm vi toàn quốc đến
                    địa chỉ mà Quý khách chỉ định trong phạm vi lãnh thổ Việt Nam. Chúng tôi sẽ thông báo đến Quý khách
                    trong trường hợp việc giao hàng không thể thực hiện vì bất kỳ lý do gì.</p>
                <p>

                    <span style="display: inline-block; padding-top: 10px;">Đối tác vận chuyển hiện tại là 247Express,
                        Grab. Daugoipurador.com hỗ trợ:</span> <br> <br>

                    <b>1. Đối với các đơn hàng giao hàng Tiêu chuẩn (3-7 ngày), Pura D'or áp dụng đồng giá ship toàn
                        quốc:</b>

                    <span style="display: inline-block; padding-top: 10px;">• 25,000 đồng với đơn hàng dưới 200,000
                        đồng;</span><br>

                    <span style="display: inline-block; padding-top: 10px;">• 16,000 đồng toàn quốc với đơn hàng từ
                        200,000 đồng đến dưới 500,000 đồng;</span><br>

                    <span style="display: inline-block; padding-top: 10px;">• 16,000 đồng toàn quốc với đơn hàng từ
                        200,000 đồng đến dưới 500,000 đồng;</span><br>

                    <span style="display: inline-block; padding-top: 10px;">• Miễn phí vận chuyển đối với các đơn hàng
                        từ 500,000 đồng.</span><br>



                    <b style="display: inline-block; padding-top: 20px;">2. Đối với các đơn hàng Nhanh (2-3 ngày), quý
                        khách vui lòng hỗ trợ thanh toán phí ship:</b> <br>

                    <span style="display: inline-block; padding-top: 10px;">• 45,000 đồng với đơn hàng dưới 1,000,000
                        đồng;</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• 28,000 đồng toàn quốc với đơn hàng từ
                        1,000,000 đồng đến dưới 2,000,000 đồng;</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Miễn phí vận chuyển đối với các đơn hàng
                        từ 2,000,000 đồng.</span> <br>


                    <b style="display: inline-block; padding-top: 20px;">3. Đối với đơn hàng Giao ngay (hiện áp dụng
                        trong nội thành Hà Nội), Quý khách có nhu cầu nhận hàng ngay, Pura D'or sẽ lựa chọn Grab/Gojek
                        và các dịch vụ giao hàng nhanh. Quý khách vui lòng hỗ trợ thanh toán phí ship:</b> <br>


                    <span style="display: inline-block; padding-top: 10px;">• 50,000 đồng với đơn hàng dưới 1,000,000
                        đồng;</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• 30,000 đồng toàn quốc với đơn hàng từ
                        1,000,000 đồng đến dưới 2,000,000 đồng;</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Miễn phí vận chuyển đối với các đơn hàng
                        từ 2,000,000 đồng.</span> <br> <br>

                    <span style="display: inline-block; padding-top: 10px;">Thời gian giao hàng trong ngày làm việc (thứ
                        2 - thứ 7), Pura D'or sẽ gọi điện xác nhận đơn hàng trước khi giao.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Đối với đơn hàng nội thành Hà Nội: Thời
                        gian giao hàng trung bình 1 - 3 ngày.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Đối với đơn hàng ở tỉnh, thành phố khác:
                        Thời gian giao hàng trung bình 3-5 ngày.</span> <br> <br>

                    <b style="display: inline-block; padding-top: 20px;">Một số lưu ý:</b> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Chúng tôi sẽ cố gắng chuyển hàng đến tay
                        người nhận trong ba (3) lần trước khi thông báo việc giao hàng bị thất bại, và khách hàng sẽ
                        phải chịu thanh toán khoản chi phí vận chuyển mới cho lần giao hàng sau.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Việc vận chuyển sẽ không được thực hiện
                        vào Chủ Nhật và các ngày nghỉ lễ.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Địa chỉ giao hàng không thể thay đổi sau
                        khi Đơn hàng được “Xác nhận”.</span> <br>

                </p>
            </div>
        </section>
        <!-- End Content -->


        <%- include("./layouts/2nd_footer.ejs") %>
            <%- include("./layouts/js.ejs") %>