<%- include("./layouts/head.ejs", {title: "Chính sách hoàn tiền" }) %>
    <%- include("./layouts/header.ejs") %>

        <!-- inner page section -->
        <section class="inner_page_head">
            <div class="container_fuild">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <h3>Chính sách hoàn tiền</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end inner page section -->

        <!-- Content -->
        <section class="product_section layout_padding">
            <div class="container">
                <h3 style="padding-bottom: 20px;">CHÍNH SÁCH HOÀN TIỀN</h3>
                <p> <b>Pura D'or</b> sẽ thực hiện việc đổi/trả hàng và hoàn tiền cho khách hàng trong những trường hợp
                    sau:</p>
                <p>
                    <b>1. Sản phẩm chúng tôi giao không đúng đơn đặt hàng (tên sản phẩm, mẫu mã, số lượng) </b> <br>
                    <br>
                    <b>2. Trường hợp sản phẩm hư hại do quá trình vận chuyển hoặc do nhà sản xuất thì quý khách có thể
                        từ chối nhận và yêu cầu bộ phận giao hàng liên hệ trực tiếp với chúng tôi. </b> <br> <br>
                    <b>3. Điều kiện đổi trả hàng (chỉ áp dụng khi mua hàng online) </b> <br>

                    <span style="display: inline-block; padding-top: 10px;">Thời gian: Trong vòng 07 ngày kể từ khi nhận
                        được hàng.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Điều kiện về sản phẩm:</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">- Hàng hóa còn đầy đủ: Sản phẩm nguyên hộp
                        không rách nát.</span><br>

                    <span style="display: inline-block; padding-top: 10px;">- Hàng hóa tuyệt đối không có dấu hiệu đã
                        qua sử dụng. </span><br>




                    <b style="display: inline-block; padding-top: 20px;">4. Chi phí chuyển đổi, hoàn trả sản phẩm</b>
                    <br>

                    <span style="display: inline-block; padding-top: 10px;">- Trong trường hợp lỗi từ phía Pura D'or:
                        Chúng tôi sẽ chịu hoàn toàn chi phí vận chuyển đổi trả.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">- Trong trường hợp do nhu cầu cá nhân, khách
                        hàng muốn đổi sản phẩm khác: Khách hàng chịu hoàn toàn chi phí trả hàng và giao sản phẩm mới.
                    </span> <br>

                    <b style="display: inline-block; padding-top: 20px;">5. Điều kiện hoàn tiền</b> <br>

                    <span style="display: inline-block; padding-top: 10px;">Pura D'or sẽ hoàn tiền cho khách hàng trong
                        3 trường hợp:</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">- Hoàn tiền khi đặt hàng thành công nhưng
                        chưa nhận sản phẩm</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">- Hoàn tiền khi khách hàng nhận được sản
                        phẩm nhưng sản phẩm lỗi từ phía chúng tôi.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">- Hoàn tiền khi khách không muốn nhận sản
                        phẩm do nhu cầu cá nhân thay đổi. Chúng tôi sẽ trừ chi phí vận chuyển trực tiếp vào tiền chuyển
                        hoàn của khách hàng. </span> <br>

                    <span style="display: inline-block; padding-top: 10px;"> CHÚNG TÔI CHỈ HOÀN TIỀN CHO KHÁCH HÀNG KHI
                        NHẬN ĐƯỢC HÀNG TRẢ LẠI ĐÁP ỨNG ĐỦ CÁC ĐIỀU KIỆN TRÊN.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Thời gian hoàn tiền trong 05 ngày làm việc
                        (Từ thứ 2 đến thứ 6).</span> <br> <br>

                    <b style="display: inline-block; padding-top: 20px;">QUY TRÌNH CHUYỂN HOÀN HÀNG HÓA</b> <br>

                    <span style="display: inline-block; padding-top: 10px;">Gọi điện về số Hotline 081.616.1266 thông
                        báo yêu cầu chuyển hoàn hàng hóa.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Đóng gói hàng hóa (sản phẩm còn nguyên
                        vẹn)</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Chuyển về trực tiếp địa chỉ cửa hàng đã đặt
                        mua online: Trên bưu kiện ghi rõ Họ tên, địa chỉ, SĐT khách hàng và nội dung *YÊU CẦU TRẢ
                        HÀNG*</span>

                </p>
            </div>
        </section>
        <!-- End Content -->


        <%- include("./layouts/2nd_footer.ejs") %>
            <%- include("./layouts/js.ejs") %>