<%- include("./layouts/head.ejs", {title: "Chính sách bảo mật" }) %>
    <%- include("./layouts/header.ejs") %>

        <!-- inner page section -->
        <section class="inner_page_head">
            <div class="container_fuild">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <h3>Chính sách bảo mật</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end inner page section -->

        <!-- Content -->
        <section class="product_section layout_padding">
            <div class="container">
                <h3 style="padding-bottom: 20px;">CHÍNH SÁCH BẢO MẬT</h3>
                <p>Pura D'or cam kết sẽ bảo mật những thông tin mang tính riêng tư của khách hàng. Bạn vui lòng đọc bản
                    “Chính sách bảo mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và
                    bảo vệ quyền lợi của người truy cập:</p>
                <p>
                    <b>1. Thu thập thông tin cá nhân</b> <br>

                    <span style="display: inline-block; padding-top: 10px;">- Các thông tin thu thập thông qua
                        Website sẽ giúp chúng
                        tôi:</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Hỗ trợ khách hàng khi sử dụng dịch vụ của
                        Pura D'or.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Giải đáp thắc mắc khách hàng.</span><br>

                    <span style="display: inline-block; padding-top: 10px;">• Cung cấp cho bạn thông tin mới nhất về các
                        chương trình khuyến mãi của chúng tôi..</span><br>

                    <span style="display: inline-block; padding-top: 10px;">• Xem xét, nâng cấp nội dung và giao diện
                        của Website cũng như Ứng dụng mobile.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Thực hiện các hoạt động quảng bá liên quan
                        đến các sản phẩm và dịch vụ của Pura D'or.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">
                        - Để truy cập và sử dụng một số dịch vụ của Pura D'or, bạn có thể sẽ được yêu cầu cung cấp cho
                        chúng
                        tôi thông tin cá nhân (Email, Họ tên, Số điện thoại liên lạc, Tọa độ GPS…). Mọi thông tin khai
                        báo
                        phải đảm bảo tính chính xác và hợp pháp. Pura D'or không chịu mọi trách nhiệm liên quan đến pháp
                        luật của thông tin khai báo.

                    </span> <br>
                    <span style="display: inline-block; padding-top: 10px;">
                        - Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang bạn xem, số
                        links
                        (liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến Pura D'or. Chúng tôi
                        cũng thu thập các thông tin mà trình duyệt Web (Browser) bạn sử dụng mỗi khi truy cập vào
                        Website
                        Pura D'or bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà
                        Browser
                        truy xuất đến.
                    </span> <br>



                    <b style="display: inline-block; padding-top: 20px;">2. Sử dụng thông tin cá nhân</b> <br>

                    <span style="display: inline-block; padding-top: 10px;">- Pura D'or thu thập và sử dụng thông tin cá
                        nhân của bạn với mục đích phù hợp và hoàn toàn tuân thủ
                        nội dung của “Chính sách bảo mật” này.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;"> - Khi cần thiết, chúng tôi có thể sử dụng
                        những thông tin này để liên hệ trực tiếp với bạn dưới các
                        hình thức như: Gửi thư ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, bạn có
                        thể
                        nhận được thư định kỳ cung cấp thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới
                        hoặc thông tin tuyển dụng nếu bạn đăng ký nhận email thông báo.</span> <br>


                    <b style="display: inline-block; padding-top: 20px;">3. Chia sẻ thông tin cá nhân</b> <br>


                    <span style="display: inline-block; padding-top: 10px;">- Ngoại trừ các trường hợp về Sử dụng thông
                        tin cá nhân như đã nêu trong chính sách này, chúng tôi
                        cam kết sẽ không tiết lộ thông tin cá nhân bạn ra ngoài.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">
                        - Trong một số trường hợp, chúng tôi có thể thuê một đơn vị độc lập để tiến hành các dự án
                        nghiên
                        cứu thị trường và khi đó thông tin của bạn sẽ được cung cấp cho đơn vị này để tiến hành dự án.
                        Bên
                        thứ ba này sẽ bị ràng buộc bởi một thỏa thuận về bảo mật mà theo đó họ chỉ được phép sử dụng
                        những
                        thông tin được cung cấp cho mục đích hoàn thành dự án.
                        - Chúng tôi có thể tiết lộ hoặc cung cấp thông tin cá nhân của bạn trong các trường hợp thật sự
                        cần
                        thiết như sau:
                    </span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Khi có yêu cầu của các cơ quan pháp
                        luật;</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Trong trường hợp mà chúng tôi tin rằng
                        điều đó sẽ giúp chúng tôi bảo vệ quyền lợi chính đáng của
                        mình trước pháp luật;</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Tình huống khẩn cấp và cần thiết để bảo vệ
                        quyền an toàn cá nhân của các thành viên Pura D'or
                        khác.</span> <br>


                    <b style="display: inline-block; padding-top: 20px;">Địa chỉ của đơn vị thu thập và quản lý thông
                        tin, bao gồm cách thức liên lạc để người tiêu dùng có
                        thể hỏi về hoạt động thu thập, xử lý thông tin liên quan đến cá nhân mình:
                    </b> <br>

                    <span style="display: inline-block; padding-top: 10px;">Nguyễn Thanh Huyền</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Địa chỉ: Tầng 2, Tòa nhà Dolphin Plaza,
                        28 P. Trần Bình, Mỹ Đình, Nam Từ Liêm, Hà Nội.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Hotline: 081 616 1266</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Email: contact@founderscap.sg</span> <br>
                </p>
            </div>
        </section>
        <!-- End Content -->


        <%- include("./layouts/2nd_footer.ejs") %>
            <%- include("./layouts/js.ejs") %>