<%- include("./layouts/head.ejs", {title: "Chính sách đổi trả" }) %>
    <%- include("./layouts/header.ejs") %>

        <!-- inner page section -->
        <section class="inner_page_head">
            <div class="container_fuild">
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <h3>Chính sách đổi trả</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end inner page section -->

        <!-- Content -->
        <section class="product_section layout_padding">
            <div class="container">
                <h3 style="padding-bottom: 20px;">CHÍNH SÁCH ĐỔI TRẢ</h3>
                <p>Pura D'or áp dụng chính sách đổi trả với điều kiện như sau:</p>
                <p>
                    <b>1. Điều kiện đổi trả</b> <br>
                    <b>Quý Khách hàng cần kiểm tra tình trạng hàng hóa và có thể đổi hàng/ trả lại hàng ngay tại thời
                        điểm giao/nhận hàng trong những trường hợp sau:</b> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Hàng không đúng chủng loại, mẫu mã trong
                        đơn hàng đã đặt hoặc như trên website tại thời điểm đặt hàng.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Không đủ số lượng, không đủ bộ như trong
                        đơn hàng.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Tình trạng bên ngoài bị ảnh hưởng như rách
                        bao bì, bong tróc, bể vỡ…</span><br>

                    <span style="display: inline-block; padding-top: 10px;">• Khách hàng có trách nhiệm trình giấy tờ
                        liên quan, video, hình ảnh chứng minh sự thiếu sót trên để hoàn thành việc hoàn trả/đổi trả hàng
                        hóa. </span><br>




                    <b style="display: inline-block; padding-top: 20px;">2. Quy định về thời gian thông báo và gửi sản
                        phẩm đổi trả</b> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Thời gian thông báo đổi trả: trong vòng
                        48h kể từ khi nhận sản phẩm đối với trường hợp sản phẩm thiếu phụ kiện, quà tặng hoặc bể
                        vỡ.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Thời gian gửi chuyển trả sản phẩm: trong
                        vòng 14 ngày kể từ khi nhận sản phẩm.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Địa điểm đổi trả sản phẩm: Khách hàng có
                        thể mang hàng trực tiếp đến văn phòng/ cửa hàng của chúng tôi hoặc chuyển qua đường bưu
                        điện.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">• Trong trường hợp Quý Khách hàng có ý kiến
                        đóng góp/khiếu nại liên quan đến chất lượng sản phẩm, Quý Khách hàng vui lòng liên hệ đường dây
                        chăm sóc khách hàng của chúng tôi</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Hotline <b>081.616.1266</b> để được hỗ trợ
                        nhanh nhất.</span> <br>

                    <span style="display: inline-block; padding-top: 10px;">Kính Chúc Quý khách có trải nghiệm mua sắm
                        thật tuyệt vời tại Website của Pura D'or!</span> <br>
                </p>
            </div>
        </section>
        <!-- End Content -->


        <%- include("./layouts/2nd_footer.ejs") %>
            <%- include("./layouts/js.ejs") %>