<%- include("./layouts/head.ejs", {title: "Success" }) %>
    <%- include("./layouts/header.ejs") %>



        <div class="container single_product_container">
            <!-- <div class="row">
                <div class="col">

                   

                    <div class="breadcrumbs d-flex flex-row align-items-center">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/success"><i class="fa fa-angle-right" aria-hidden="true"></i>Notification</a>
                            </li>
                            <li class="active"><a href="/cart"><i class="fa fa-angle-right"
                                        aria-hidden="true"></i>Notification</a></li>
                        </ul>
                    </div>

                </div>
            </div> -->

            <!--	Order Success	-->
            <div id="order-success" style="margin-top: 100px; margin-bottom: 150px;">
                <div class="row">
                    <div id="order-success-img" class="col-lg-3 col-md-3 col-sm-12"></div>
                    <div id="order-success-txt" class="col-lg-9 col-md-9 col-sm-12">
                        <h3>Bạn đã đặt hàng thành công !</h3>
                        <p>Vui lòng kiểm tra email để xem lại thông tin đơn hàng của
                            mình.</p>
                    </div>
                </div>
            </div>
            <!--	End Order Success	-->
        </div>
        <%- include("./layouts/2nd_footer.ejs") %>
            <%- include("./layouts/js.ejs") %>